[GdmGreeterTheme]
Author=sidux art team
Copyright=GPL
Description="sidux 2008-02 erebos" 
Encoding=UTF-8
Greeter=erebos.xml
Name=sidux-erebos
Screenshot=screenshot.jpg
